<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/home/igorrmotta/Desktop/samples/pdf-me/templates/css/example.css">
    </head>
    <body>
        <h1 class="red">{{text}}</h1>
    </body>
</html> 